body {
    background-image: url(../component/img/sgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: rgb(233, 231, 237);
}

.background {
    position: absolute;
    background-color: rgb(8 8 31 / 80%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    position: relative;
    background-color: rgb(80 80 112 / 90%);
    height: auto;
    width: 500px;
    padding: 20px 15px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: inset rgb(23 23 33) 0px 0px 5px 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}


.header {
    text-align: center;
    border-radius: 10px;
    margin: 30px 20px 15px 20px;
    width: 80%;
    height: auto;
    background-color: rgb(52 52 131 / 90%);
    box-shadow: rgb(50 48 64) 0px 0px 1px 1px;
    line-height: 1px;
    padding: 3px;
}

.form {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

select, input {
    display: flex;
    background: none;
    background-color:rgb(52 52 131 / 90%);
    box-shadow:rgb(50 48 64) 0px 0px 1px 1px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 10px;
    width: 90px;
    margin-right: 5px;
    margin-left: 3px;
    color: white;
    text-align: center;
}

.output_field {
    margin-top: 15px;
    height: auto;
    width: 78%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(52 52 131 / 90%);
    box-shadow: rgb(50 48 64) 0px 0px 1px 1px;
    border-radius: 10px;
    padding: 10px;
    line-height: 0;
}

h5 {
    font-size: 15px;
    margin: 15px;
}

p {
    font-size: 9px;
}

input {
    width: 50%;
}