.chart {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 30px 30px 20px 20px;
    padding: 20px;
    background-color: rgb(52 52 131 / 90%); 
    box-shadow: #323040 0px 0px 1px 1px;
}
