.form {
    display: flex;
    flex-direction: row;
    margin: 10px 5px 10px 0px;
}

input, select {
    background: none;
    background-color:rgb(52 52 131 / 90%);;
    box-shadow:rgb(50 48 64) 0px 0px 1px 1px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 11px;
    width: 115px;
    margin-right: 5px;
    margin-left: 3px;
    color: white;
}